.btn-primary{
  color: white;
  background-color: blue;
}
.pagin_ation{
  display:flex;
  justify-content: center;

  }
.pagin_ation li{
  list-style-type: none;
  border:1px solid rgb(183, 234, 247);
  padding:20px;
  
}
.pagin_ation li>a:active .pagin_ation li{
  background-color:blue;
}
.active-link{
  background-color: blue;
  color:white;
  text-decoration: none;
}
.previous>a,.next>a{
  text-decoration: none;
  color:black;
}
.selected{
  background-color: blue;
}
